.box-card {
  margin-bottom: 8px;
}
.box-card-preview {
  width: 550px;
  &-basic {
    display: flex;
    &-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 8px;
    }
    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  &-content {
    &-text {
      padding: 10px 0;
    }
    &-video {
      position: relative;
      display: inline-block;
      .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -30px 0 0 -30px;
        padding: 10px;
        color: #fff;
        background-color: rgba($color: #000000, $alpha: .4);
        border-radius: 10px;
        z-index: 2001;
        font-size: 40px;
      }
    }
  }
}

.box-card-info {
  padding-left: 40px;
  li {
    margin-bottom: 6px;
    span {
      margin-right: 20px;
    }
  }
}
.video {
  width: 100%;
}
